.header-buttons {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-buttons a,
.header-buttons input {
  border-radius: 4px;
  background: none;
  border: 1px solid black;
  color: black;
  padding: 4px 8px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.warning h2 {
  border-radius: 7px;
  border: 2px solid red;
  padding: 10px 15px;
  color: red;
  font-size: 20px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.input-wrapper input,
.input-wrapper select {
  width: 50%;
}
